body{
	padding: 0;
	margin: 0;
	background:#E1E1E1;
}

.container{
	padding-top: 20px;
	width: 500px;
	margin: 80px auto;
	background: #fff;
	border: 1px solid black;
}

h1{
	text-align: center;
	font-family: 'Cookie', cursive;
	font-size: 45px;
}

form{
	margin-left: 150px;
	margin-bottom: 20px;
}

#mail{
	font-family: 'Poiret One', cursive;
	padding-top: 0;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 0 auto;
	text-align: left;
	color: #000;
}

#password{
	margin-top: 15px;
	font-family: 'Poiret One', cursive;
	padding-top: 0;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 0 auto;
	text-align: left;
}

.button{
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	color:#fff;
	font-size: 24px;
	background: #3BA848;
	margin: 0 auto;
	padding: 10px;
	width: 200px;
	height: 50px;
	text-align: center;
	border-radius: 5px;
}

.button:hover{
	background: #3CD344;
	transition: all.4s ease;
}

#fgt{
	color: #929292;
	margin:0 auto;
}

#fgt:hover{
	color:#BBBBBB;
	transition: all.2s ease;
}

p{
	text-align: center;
	margin-bottom: 60px;
}